// RESET BROWSER
@import "reset";

// IMPORT GOOGLE FONTS (Crimson + Open Sans)
/*
| font-family: 'Crimson Text', serif;
| font-family: 'Open Sans', sans-serif;
*/
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,700|Open+Sans:400,700,800&display=swap");

// IMPORT WEB FONTS (Flaticon)
@import "../font/flaticon";

/*
*  VARIABLES
*/
$first-color: #3a3e43;
$second-color: #303336;
$third-color: #f08b68;

/* Global componnent */
@import "./components/footer";
/*
*  START CSS
* => @import master.scss
*/
html,
body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  background-color: #fff;
  color: $first-color;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

#scrollTop {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #4a4b4c;
  z-index: 1;
  padding: 9px;
  border-radius: 3px;

  text-decoration: none;

  &::before {
    color: #fff;
    font-size: 17px;
  }
}

// Layouts
@import "./layouts/index";
@import "./layouts/article";
@import "./layouts/nutrition";

// Global Components
@import "./components/search-box";
