.barre-nutrition {
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 2px;
  width: 90%;
  background-color: #f7f7f7;
}
