$fb-color: #899dce;
$tw-color: #60d2f5;
$pi-color: #f74c53;

.article-content {
  max-width: 745px;
  width: 100%;
  margin: 25px auto;

  .row {
    justify-content: space-between;
  }
  .content {
    max-width: 500px;
    flex-basis: 100%;

    .tag {
      text-align: center;
      font-weight: bold;
      color: $third-color;
      text-transform: uppercase;
      font-size: 0.5rem;
      margin-bottom: 16px;
    }

    h1 {
      font-weight: bold;
      line-height: 1.4rem;
      color: $first-color;
      font-size: 1.2rem;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 25px;
    }

    .thumb {
      max-width: 500px;
      max-height: 500px;
      overflow: hidden;
      display: flex;
      align-items: center;

      img {
        width: 100%;
      }
    }

    .author-share {
      margin-top: 30px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 35px;

      .author {
        height: 100%;
        display: flex;
        align-items: center;

        img {
          height: 100%;
          max-height: 28px;
          float: left;
          margin-right: 9px;
        }

        p {
          color: #b3b3b3;
          font-size: 0.6rem;
          border-right: 1px solid #b3b3b3;
          padding-right: 7px;
          .name {
            text-transform: uppercase;
          }
        }
      }

      .right {
        display: flex;
        align-items: center;

        .share {
          color: #000;
          font-size: 9px;
          margin-right: 10px;
          margin-top: 2px;
        }

        .social {
          display: flex;
          justify-content: center;
          a {
            margin-right: 3px;
            border-radius: 100%;
            padding: 4px 7px 6px 7px;
            transition: all 0.2s linear;
            &:before {
              font-size: 10px;
              color: #fff;
            }
            &:hover {
              text-decoration: none;
            }
          }
          .fb {
            background-color: $fb-color;
            &:hover {
              background-color: #fff;
            }
            &:hover::before {
              color: $fb-color;
            }
          }
          .tw {
            background-color: $tw-color;
            &:hover {
              background-color: #fff;
            }
            &:hover::before {
              color: $tw-color;
            }
          }
          .pi {
            background-color: $pi-color;
            &:hover {
              background-color: #fff;
            }
            &:hover::before {
              color: $pi-color;
            }
          }
        }
      }
    }

    article {
      font-family: "Crimson Text", serif;
      font-size: 14px;

      p {
        margin-bottom: 25px;
        line-height: 20px;

        .line {
          border-bottom: 2px solid $third-color;
        }
      }

      h2 {
        margin-bottom: 20px;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
      }

      em {
        font-style: italic;
      }
    }

    .article-share {
      margin-top: 35px;
      margin-bottom: 55px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-size: 10px;

      .share-label {
        margin-right: 8px;
      }

      .fb {
        background-color: $fb-color;
        border: 1px solid $fb-color;
        color: #fff;
        &:hover {
          background-color: #fff;
          border: 1px solid $fb-color;
          color: $fb-color;
        }
      }

      .tw {
        background-color: $tw-color;
        border: 1px solid $tw-color;
        color: #fff;
        &:hover {
          background-color: #fff;
          border: 1px solid $tw-color;
          color: $tw-color;
        }
      }

      .pi {
        background-color: $pi-color;
        border: 1px solid $pi-color;
        color: #fff;
        &:hover {
          background-color: #fff;
          border: 1px solid $pi-color;
          color: $pi-color;
        }
      }
    }

    .newsletter {
      margin-bottom: 35px;
      h1 {
        text-transform: initial;
        font-weight: normal;
        margin-bottom: 20px;
      }

      p {
        font-size: 0.55rem;
        text-align: center;
      }

      form {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        height: 30px;

        .email {
          border: 1px solid #ccc;
          max-width: 225px;
          padding: 0 3px 3px 3px;

          &::placeholder {
            font-size: 10px;
            color: #000;
            padding: 0 6px;
          }
        }

        .btn {
          background-color: $third-color;
          border: 1px solid $third-color;
          border-radius: 0;
          color: #fff;
          font-size: 10px;
          text-transform: uppercase;
          font-weight: bold;
          padding: 0 30px;
          transition: all 0.4s linear;

          &:hover {
            background-color: #fff;
            border: 1px solid $second-color;
            color: $second-color;
          }
        }
      }
    }

    .prev-next {
      display: flex;
      margin-bottom: 50px;

      a {
        &:nth-child(2) {
          border-left: 1px solid rgb(243, 243, 243);
        }

        &:hover {
          text-decoration: none;
          .title {
            color: $third-color;
          }
        }
      }

      .prev,
      .next {
        color: #bebebe;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.7rem;
        margin-bottom: 25px;
      }

      .prev .arrow {
        margin-right: 9px;
      }

      .next {
        text-align: end;
        .arrow {
          margin-left: 9px;
        }
      }

      .title {
        transition: all 0.4s linear;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.85rem;
        text-align: justify;
        color: $first-color;
      }
    }

    .author-info {
      margin-bottom: 42px;

      img {
        float: left;
        padding-right: 20px;
        padding-bottom: 10px;

        width: 66px;
      }

      .name {
        color: #000;
        font-size: 0.8rem;
        font-weight: bold;
        margin-bottom: 10px;
      }

      p {
        color: #b3b3b3;
        font-size: 0.75rem;
        line-height: 18px;
      }
    }

    .related {
      margin-bottom: 78px;

      h2 {
        text-transform: uppercase;
        font-weight: bold;
        color: #000;
        font-size: 0.6rem;
        margin-bottom: 26px;
      }

      .article {
        padding: 0 13px 0 0;
        color: $first-color;

        &:last-child {
          padding-right: 0;
        }

        img {
          width: 100%;
          max-height: 140px;
          margin-bottom: 15px;
        }

        .title {
          font-weight: bold;
          font-size: 0.6rem;
          line-height: 1rem;
          text-transform: uppercase;
          text-align: justify;
          transition: color 0.4s linear;
        }

        &:hover {
          text-decoration: none;

          .title {
            color: $third-color;
          }
        }
      }
    }

    .responses {
      margin-bottom: 60px;

      h2 {
        color: #000;
        margin-bottom: 40px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.8rem;
      }

      input,
      textarea {
        border: 0;
        transition: border 0.2s linear;
        &::placeholder {
          font-size: 0.7rem;
        }
        &:focus {
          outline: none;
        }
      }

      textarea {
        padding: 6px;
        margin-bottom: 30px;
      }

      input {
        padding: 0 6px;
      }

      .submit-btn {
        margin-top: 35px;
        background-color: #000;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.6rem;
        padding: 11px 14px;
      }
    }
  }

  .sidebar {
    max-width: 200px;
    flex-basis: 100%;
    margin-top: 72px;

    p {
      font-size: 10px;
      text-align: center;
      margin-bottom: 10px;
    }

    .social {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;

      .icon {
        margin-right: 8px;
        background-color: #555;
        border-radius: 100%;
        padding: 6px;
        transition: all 0.3s linear;

        &:before {
          color: #fff;
          font-size: 14px;
        }

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          background-color: #fff;
          text-decoration: none;
        }
        &:hover::before {
          color: $third-color;
        }
      }
    }
  }
}

// BOUTON WITH ICON & TEXT
.btn-txt {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.5rem;
  font-weight: bold;
  margin: 4.5px;
  transition: all 0.2s linear;

  background-color: $first-color;
  border: 1px solid $first-color;
  color: #fff;

  i:before {
    font-size: 0.8rem;
    margin-right: 7px;
  }

  &:hover {
    background-color: #fff;
    border: 1px solid $first-color;
    color: $first-color;
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  .article-content {
    padding: 0 15px;
    .content {
      margin: 0 auto;
    }

    .sidebar {
      display: none;
    }
  }
}

// MANAGE AUTHOR-SHARE COMPONENTS
@media screen and (max-width: 393px) {
  .article-content {
    padding: 0 15px;
    .content {
      .author-share {
        flex-wrap: wrap;
        justify-content: center;
        .author {
          margin-bottom: 10px;
          p {
            border-right: none;
          }
        }
      }
    }
  }
}

// MANAGE ARTICLE-SHARE COMPONENTS
@media screen and (max-width: 395px) {
}
