.footers{
    background-color: $first-color;
    display: flex;
    justify-content: center;
    color: white;
    a{
        text-decoration: none;
        color: white;
        &:hover {
            text-decoration: none;}}
    h2{
        color: gray;   }
    }

.backfooters{
    background-color: $second-color;
}