.home-prem-sect {
  height: 100%;
  margin-top: 1.5rem;
  .bloc-gauche {
    width: 100%;
    overflow: hidden;
    max-height: 590px;
    padding: 0;
    margin: 0 0 10px 0;
  }
  .bloc-droite {
    padding: 0 0.5rem;
    row {
      max-height: 50%;
    }
  }

  .col-12 {
    .bloc-droite-carre {
      padding-left: 0.3rem !important;
      padding-right: 0.3rem !important;
      img {
        .square {
          width: 12rem !important;
          height: 12rem !important;
        }
      }
    }
  }
  h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    padding-bottom: 1.5rem;
  }
  h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
  h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.8px;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    font-size: 12px;
    color: $third-color;
  }
  img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .bloc-gauche {
    padding-right: 1.6rem !important;
    margin: 0;
  }
  .home-prem-sect .col-12 .bloc-droite-carre {
    padding-left: 0.6rem !important;
    padding-right: 0.6rem !important;
  }
}
