.home-sec-section{
  color: $first-color;
  line-height: 1.5;
  h1{
    background-image: url("../../assets/images/h1-bg-img.png");
  }
  small{
    color: $second-color;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size: 13px;
    background-color: white;
    padding-right: 15px;
  }
  .top-margin{
    margin-top: 30px;
  }
  .title-margin{
    margin-top: 15px;
  }
  .no-padding-right{
    padding-right: 0;
  }
  h4, h3, h2{
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size: 14px;
  }
  h2{
    padding-top: 10px;
    font-size: 19px;
  }
  h3{
    color: $third-color;
    font-size: 13px;
    letter-spacing: -1px;
    word-spacing: 1em;
    margin-right: 15px;
  }
  div.barre-de-fer{
    color: $first-color;
    font-family: 'Crimson Text', serif;
    font-size: 13px;
  }
  p{
    font-family: 'Crimson Text', serif;
    font-size: 16px;
    color: $first-color;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  a{
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: grey;
  }
  i{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #c1c1c1;
    text-decoration: none;
    &:before {
      font-size: 15px;
      margin-left: 0;
      color: black;
    }
  }
  hr{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  }
}
