.home-sec-section {
  color: $first-color;
  line-height: 1.5;
  h1 {
    background-image: url("../../assets/images/h1-bg-img.png");
  }
  small {
    color: $second-color;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 13px;
    background-color: white;
    padding-right: 15px;
  }
  .top-margin {
    margin-top: 30px;
  }
  .title-margin {
    margin-top: 15px;
  }
  .no-padding-right {
    padding-right: 0;
  }
  h4,
  h3,
  h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
  }
  h2 {
    padding-top: 10px;
    font-size: 19px;
  }
  h3 {
    color: $third-color;
    font-size: 13px;
    letter-spacing: -1px;
    word-spacing: 1em;
    margin-right: 15px;
  }
  div.barre-de-fer {
    color: $first-color;
    font-family: "Crimson Text", serif;
    font-size: 13px;
  }
  p {
    font-family: "Crimson Text", serif;
    font-size: 16px;
    color: $first-color;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  i {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
    // background-color: white;
    border-radius: 50%;
    border: 1px solid #c1c1c1;
    text-decoration: none;
    &:before {
      font-size: 15px;
      margin-left: 0;
      color: black;
    }
  }
  .sideBar-socialNetwork {
    margin-top: 90px;
    margin-bottom: 90px;
    a.social-media {
      color: white;
      padding-right: 10px;
    }
    a.facebook {
      background-color: #8c92cf;
    }
    a.twitter {
      background-color: #50d0f7;
    }
    a.instagram {
      background-color: #6f96bf;
    }

    a {
      margin-bottom: 2px;
      display: flex;
      align-items: center;
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      text-decoration: none;
      color: grey;

      i {
        height: 45px;
        border-radius: 0;
        justify-content: flex-start;
        border: 0;
        padding-left: 10px;
        color: white;
        &:before {
          color: white;
          font-size: 16px;
        }
      }
      span {
        width: 50%;
        text-transform: capitalize;
      }
      .follow-us {
        text-transform: uppercase;
        text-align: right;
        font-weight: 800;
        width: 50%;
      }
    }
  }
  a {
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: grey;
    .facebook {
      background-color: #8c92cf;
    }
  }

  li {
    width: 36px;
    height: 36px;
    margin: 10px;
    a {
      padding: 0;
      margin: 0;
      font-size: 15px;
      font-family: "Open Sans", sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: white;
      border: 1px solid $second-color;
      border-radius: 50% !important;
      color: $first-color;
      &:hover {
        border: 1px solid $second-color;
      }
    }
    a.active {
      background-color: $first-color;
      color: white;
    }
  }
  hr {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  nav {
    margin-top: 4rem;
  }
  .card-bloc {
    flex-direction: column;
  }

  .sideBar {
    img {
      width: 100%;
    }
  }
  .resize-img {
    max-height: 190px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
}
