.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  position: relative;
  border-bottom: 1px solid #f2f2f2;

  .logo {
    margin-bottom: -10px;
    order: 1;
    img {
      margin-right: 50px;
    }
  }

  nav {
    margin-bottom: 25px;
    order: 3;
    ul {
      display: flex;
      li {
        margin-right: 40px;
        &:last-child {
          margin-right: 0;
        }
        a {
          color: $first-color;
          font-size: 0.9rem;
          font-weight: 500;
          font-family: "Open Sans", sans-serif;
          transition: color 0.2s linear;
          &:hover {
            text-decoration: none;
            color: $third-color;
          }
        }
      }
    }
  }

  .right {
    position: absolute;
    right: 0;
    top: 0;

    margin-top: 15px;
    height: 52px;

    .home-header-social {
      float: left;
      display: flex;
      height: 100%;
      align-items: center;

      .icon {
        cursor: pointer;
        width: 18px;
        height: 18px;
        display: inline-block;
        margin-right: 13px;

        &:before {
          font-size: 18px;
          transition: color 0.5s linear;
        }

        &:hover::before {
          color: $third-color;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .home-header {
    .right {
      order: 2;
      margin-top: 0;
      margin-bottom: 25px;
      position: relative;
      display: flex;
    }

    nav {
      ul {
        li {
          margin-right: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .home-header {
    nav {
      ul {
        flex-direction: column;

        li {
          text-align: center;
          margin: 0;
          padding-bottom: 10px;
        }
      }
    }
  }
}
