/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,700|Open+Sans:400,700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
| font-family: 'Crimson Text', serif;
| font-family: 'Open Sans', sans-serif;
*/
/*
*  VARIABLES
*/
/* Global componnent */
footer {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold; }

.upfooters {
  padding-top: 60px;
  text-align: left;
  background-color: #3a3e43;
  display: flex;
  flex-direction: row;
  color: white; }
  .upfooters a {
    text-decoration: none;
    color: white; }
    .upfooters a:hover {
      text-decoration: none;
      color: orangered; }
  .upfooters h4 {
    text-indent: 16px;
    font-size: 12px;
    text-transform: uppercase;
    color: lightgrey; }

.backfooters {
  background-color: #303336;
  flex-direction: row;
  text-align: right; }

.catagories {
  font-size: 11px;
  letter-spacing: -1x; }
  .catagories li {
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
    padding-top: 10px; }

.popupost {
  font-size: 12px;
  letter-spacing: -1x;
  text-transform: capitalize; }
  .popupost a img {
    float: right; }

/*
*  START CSS
* => @import master.scss
*/
html,
body {
  width: 100%;
  height: 100%; }

body {
  background-color: #fff;
  color: #3a3e43;
  font-size: 1rem; }

.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #f2f2f2; }
  .home-header nav ul {
    display: flex; }
    .home-header nav ul li {
      margin-right: 40px; }
