/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,700|Open+Sans:400,700,800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
| font-family: 'Crimson Text', serif;
| font-family: 'Open Sans', sans-serif;
*/
/*
    Flaticon icon font: Flaticon
    Creation date: 29/08/2019 12:03
    */
@font-face {
  font-family: "Flaticon";
  src: url("../font/Flaticon.eot");
  src: url("../font/Flaticon.eot?#iefix") format("embedded-opentype"), url("../font/Flaticon.woff2") format("woff2"), url("../font/Flaticon.woff") format("woff"), url("../font/Flaticon.ttf") format("truetype"), url("../font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../font/Flaticon.svg#Flaticon") format("svg"); } }

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal; }

.flaticon-facebook-logo:before {
  content: "\f100"; }

.flaticon-twitter:before {
  content: "\f101"; }

.flaticon-pinterest:before {
  content: "\f102"; }

.flaticon-magnifying-glass:before {
  content: "\f103"; }

.flaticon-reorder-option:before {
  content: "\f104"; }

.flaticon-share-option:before {
  content: "\f105"; }

.flaticon-comment-black-oval-bubble-shape:before {
  content: "\f106"; }

.flaticon-up-arrow:before {
  content: "\f107"; }

.flaticon-instagram:before {
  content: "\f108"; }

/*
*  VARIABLES
*/
/* Global componnent */
footer {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-top: 25px; }
  footer .instagram {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    footer .instagram img {
      padding: 3px;
      width: 33.33%; }

.upfooters {
  padding-top: 60px;
  text-align: left;
  background-color: #3a3e43;
  display: flex;
  flex-direction: row;
  color: white;
  padding-bottom: 5%; }
  .upfooters a {
    vertical-align: top;
    text-decoration: none;
    color: white; }
    .upfooters a:hover {
      text-decoration: none;
      color: orangered; }
  .upfooters h4 {
    text-indent: 16px;
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
    color: lightgrey; }

.backfooters {
  background-color: #303336;
  flex-direction: row;
  text-align: right;
  height: 100px; }
  .backfooters a {
    position: relative;
    top: 20%;
    color: white;
    background-color: #3a3e43;
    border-radius: 50%;
    padding: 10px;
    text-decoration: none; }
    .backfooters a:hover {
      text-decoration: none;
      color: orangered; }
    .backfooters a::before {
      margin: 0; }

.catagories {
  font-size: 12px;
  letter-spacing: -1x;
  font-weight: bolder; }
  .catagories li {
    border-bottom: 1px solid rgba(146, 145, 145, 0.1);
    padding-bottom: 8%;
    padding-top: 7%; }

.popupost {
  font-size: 13px;
  letter-spacing: -1x;
  text-transform: capitalize;
  font-weight: bolder; }
  .popupost li {
    padding-top: 10px;
    padding-bottom: 15px; }
    .popupost li a {
      display: flex;
      overflow: hidden; }
      .popupost li a img {
        margin-right: 10px;
        width: 30%; }

@media screen and (max-width: 576px) {
  footer .upfooters .catagories li {
    text-align: center; }
  footer .upfooters .container div {
    margin-bottom: 50px; }
  footer .upfooters .container div:last-child {
    margin-bottom: 20px; } }

/*
*  START CSS
* => @import master.scss
*/
html,
body {
  width: 100%;
  height: 100%;
  overflow: auto; }

body {
  background-color: #fff;
  color: #3a3e43;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif; }

#scrollTop {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #4a4b4c;
  z-index: 1;
  padding: 9px;
  border-radius: 3px;
  text-decoration: none; }
  #scrollTop::before {
    color: #fff;
    font-size: 17px; }

.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  border-bottom: 1px solid #f2f2f2; }
  .home-header .logo {
    margin-bottom: -10px;
    order: 1; }
    .home-header .logo img {
      margin-right: 50px; }
  .home-header nav {
    margin-bottom: 25px;
    order: 3; }
    .home-header nav ul {
      display: flex; }
      .home-header nav ul li {
        margin-right: 40px; }
        .home-header nav ul li:last-child {
          margin-right: 0; }
        .home-header nav ul li a {
          color: #3a3e43;
          font-size: 0.9rem;
          font-weight: 500;
          font-family: "Open Sans", sans-serif;
          transition: color 0.2s linear; }
          .home-header nav ul li a:hover {
            text-decoration: none;
            color: #f08b68; }
  .home-header .right {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 15px;
    height: 52px; }
    .home-header .right .home-header-social {
      float: left;
      display: flex;
      height: 100%;
      align-items: center; }
      .home-header .right .home-header-social .icon {
        cursor: pointer;
        width: 18px;
        height: 18px;
        display: inline-block;
        margin-right: 13px; }
        .home-header .right .home-header-social .icon:before {
          font-size: 18px;
          transition: color 0.5s linear; }
        .home-header .right .home-header-social .icon:hover::before {
          color: #f08b68; }

@media screen and (max-width: 992px) {
  .home-header .right {
    order: 2;
    margin-top: 0;
    margin-bottom: 25px;
    position: relative;
    display: flex; }
  .home-header nav ul li {
    margin-right: 20px; } }

@media screen and (max-width: 400px) {
  .home-header nav ul {
    flex-direction: column; }
    .home-header nav ul li {
      text-align: center;
      margin: 0;
      padding-bottom: 10px; } }

.home-prem-sect {
  height: 100%;
  margin-top: 1.5rem; }
  .home-prem-sect .bloc-gauche {
    width: 100%;
    overflow: hidden;
    max-height: 590px;
    padding: 0;
    margin: 0 0 10px 0; }
  .home-prem-sect .bloc-droite {
    padding: 0 0.5rem; }
    .home-prem-sect .bloc-droite row {
      max-height: 50%; }
  .home-prem-sect .col-12 .bloc-droite-carre {
    padding-left: 0.3rem !important;
    padding-right: 0.3rem !important; }
    .home-prem-sect .col-12 .bloc-droite-carre img .square {
      width: 12rem !important;
      height: 12rem !important; }
  .home-prem-sect h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    padding-bottom: 1.5rem; }
  .home-prem-sect h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    font-size: 1.1rem;
    line-height: 1.4rem; }
  .home-prem-sect h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.8px;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    font-size: 12px;
    color: #f08b68; }
  .home-prem-sect img {
    width: 100%; }

@media screen and (min-width: 768px) {
  .bloc-gauche {
    padding-right: 1.6rem !important;
    margin: 0; }
  .home-prem-sect .col-12 .bloc-droite-carre {
    padding-left: 0.6rem !important;
    padding-right: 0.6rem !important; } }

.home-sec-section {
  color: #3a3e43;
  line-height: 1.5; }
  .home-sec-section h1 {
    background-image: url("../../assets/images/h1-bg-img.png"); }
  .home-sec-section small {
    color: #303336;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 13px;
    background-color: white;
    padding-right: 15px; }
  .home-sec-section .top-margin {
    margin-top: 30px; }
  .home-sec-section .title-margin {
    margin-top: 15px; }
  .home-sec-section .no-padding-right {
    padding-right: 0; }
  .home-sec-section h4,
  .home-sec-section h3,
  .home-sec-section h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 14px; }
  .home-sec-section h2 {
    padding-top: 10px;
    font-size: 19px; }
  .home-sec-section h3 {
    color: #f08b68;
    font-size: 13px;
    letter-spacing: -1px;
    word-spacing: 1em;
    margin-right: 15px; }
  .home-sec-section div.barre-de-fer {
    color: #3a3e43;
    font-family: "Crimson Text", serif;
    font-size: 13px; }
  .home-sec-section p {
    font-family: "Crimson Text", serif;
    font-size: 16px;
    color: #3a3e43;
    padding-top: 15px;
    padding-bottom: 15px; }
  .home-sec-section i {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
    border-radius: 50%;
    border: 1px solid #c1c1c1;
    text-decoration: none; }
    .home-sec-section i:before {
      font-size: 15px;
      margin-left: 0;
      color: black; }
  .home-sec-section .sideBar-socialNetwork {
    margin-top: 90px;
    margin-bottom: 90px; }
    .home-sec-section .sideBar-socialNetwork a.social-media {
      color: white;
      padding-right: 10px; }
    .home-sec-section .sideBar-socialNetwork a.facebook {
      background-color: #8c92cf; }
    .home-sec-section .sideBar-socialNetwork a.twitter {
      background-color: #50d0f7; }
    .home-sec-section .sideBar-socialNetwork a.instagram {
      background-color: #6f96bf; }
    .home-sec-section .sideBar-socialNetwork a {
      margin-bottom: 2px;
      display: flex;
      align-items: center;
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      text-decoration: none;
      color: grey; }
      .home-sec-section .sideBar-socialNetwork a i {
        height: 45px;
        border-radius: 0;
        justify-content: flex-start;
        border: 0;
        padding-left: 10px;
        color: white; }
        .home-sec-section .sideBar-socialNetwork a i:before {
          color: white;
          font-size: 16px; }
      .home-sec-section .sideBar-socialNetwork a span {
        width: 50%;
        text-transform: capitalize; }
      .home-sec-section .sideBar-socialNetwork a .follow-us {
        text-transform: uppercase;
        text-align: right;
        font-weight: 800;
        width: 50%; }
  .home-sec-section a {
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: grey; }
    .home-sec-section a .facebook {
      background-color: #8c92cf; }
  .home-sec-section li {
    width: 36px;
    height: 36px;
    margin: 10px; }
    .home-sec-section li a {
      padding: 0;
      margin: 0;
      font-size: 15px;
      font-family: "Open Sans", sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: white;
      border: 1px solid #303336;
      border-radius: 50% !important;
      color: #3a3e43; }
      .home-sec-section li a:hover {
        border: 1px solid #303336; }
    .home-sec-section li a.active {
      background-color: #3a3e43;
      color: white; }
  .home-sec-section hr {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem; }
  .home-sec-section nav {
    margin-top: 4rem; }
  .home-sec-section .card-bloc {
    flex-direction: column; }
    .home-sec-section .card-bloc .resize-img {
      max-height: 225px; }
  .home-sec-section .content .img-fluid {
    width: 100%; }
  .home-sec-section .resize-img {
    display: flex;
    align-items: center;
    overflow: hidden; }
  .home-sec-section .sideBar img {
    width: 100%; }

@media screen and (max-width: 768px) {
  .home-sec-section .sideBar {
    order: 1; }
    .home-sec-section .sideBar .resize-img {
      align-items: flex-start;
      max-height: 225px;
      margin-bottom: 30px; }
    .home-sec-section .sideBar .sideBar-socialNetwork {
      margin: 50px 0; }
  .home-sec-section .content {
    order: 2; } }

.article-header {
  position: relative; }
  .article-header .top-menu {
    background-color: #fff;
    height: 51px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2; }
    .article-header .top-menu .left {
      display: flex;
      width: 33.3333%; }
      .article-header .top-menu .left .menu {
        width: 51px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer; }
        .article-header .top-menu .left .menu .icon {
          width: 16px;
          height: 13px;
          transition: color 0.2s linear; }
          .article-header .top-menu .left .menu .icon:before {
            font-size: 16px; }
      .article-header .top-menu .left .logo {
        max-width: 84px;
        width: 100%;
        position: relative;
        overflow: hidden; }
        .article-header .top-menu .left .logo img {
          height: 100%;
          position: absolute;
          top: 0;
          left: -84px; }
    .article-header .top-menu .signup {
      font-family: "Open Sans", sans-serif;
      font-size: 11px;
      display: flex;
      align-items: center;
      width: 33.333%;
      justify-content: center; }
      .article-header .top-menu .signup form {
        margin-left: 8px;
        max-height: 22px; }
        .article-header .top-menu .signup form .email {
          width: 124px;
          border: 2px solid #000;
          padding: 2px 6px;
          float: left; }
          .article-header .top-menu .signup form .email::placeholder {
            font-size: 0.5rem;
            color: #000; }
          .article-header .top-menu .signup form .email:focus {
            outline: none; }
        .article-header .top-menu .signup form .btn {
          background-color: #000;
          color: #fff;
          border-radius: 0;
          height: 100%;
          line-height: 1rem;
          font-weight: bold;
          font-size: 0.7rem;
          padding: 3px 17px;
          transition: background 0.5s linear; }
          .article-header .top-menu .signup form .btn:hover {
            background-color: #f08b68; }
    .article-header .top-menu .right {
      display: flex;
      align-items: center;
      width: 33.333%;
      justify-content: flex-end; }
      .article-header .top-menu .right .author {
        height: 40px;
        width: 40px;
        margin-right: 9px; }
        .article-header .top-menu .right .author img {
          width: 100%;
          height: 100%; }
      .article-header .top-menu .right .search-box {
        height: 33px;
        margin-right: 30px; }
        .article-header .top-menu .right .search-box .icon {
          height: 18px; }
          .article-header .top-menu .right .search-box .icon:before {
            font-size: 12px; }
  .article-header nav {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: bottom 0.3s linear;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    min-height: 50px;
    display: flex;
    justify-content: center; }
    .article-header nav ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .article-header nav ul li {
        padding: 15px; }
        .article-header nav ul li a {
          color: #000;
          font-family: "Open Sans", sans-serif;
          transition: color 0.2s linear; }
          .article-header nav ul li a:hover {
            text-decoration: none;
            color: #f08b68; }
  .article-header.visible nav {
    bottom: auto; }
  .article-header.visible .menu .icon {
    color: #f08b68; }

@media screen and (max-width: 992px) {
  .article-header .top-menu .signup {
    display: none; }
  .article-header .top-menu .left {
    width: 25%; }
  .article-header .top-menu .right {
    width: 75%; } }

@media screen and (max-width: 455px) {
  .article-header .top-menu .left,
  .article-header .top-menu .right {
    width: 50%; }
  .article-header .top-menu .author {
    display: none; }
  .article-header .top-menu .search-box {
    border-left: none; } }

.article-content {
  max-width: 745px;
  width: 100%;
  margin: 25px auto; }
  .article-content .row {
    justify-content: space-between; }
  .article-content .content {
    max-width: 500px;
    flex-basis: 100%; }
    .article-content .content .tag {
      text-align: center;
      font-weight: bold;
      color: #f08b68;
      text-transform: uppercase;
      font-size: 0.5rem;
      margin-bottom: 16px; }
    .article-content .content h1 {
      font-weight: bold;
      line-height: 1.4rem;
      color: #3a3e43;
      font-size: 1.2rem;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 25px; }
    .article-content .content .thumb {
      max-width: 500px;
      max-height: 500px;
      overflow: hidden;
      display: flex;
      align-items: center; }
      .article-content .content .thumb img {
        width: 100%; }
    .article-content .content .author-share {
      margin-top: 30px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 35px; }
      .article-content .content .author-share .author {
        height: 100%;
        display: flex;
        align-items: center; }
        .article-content .content .author-share .author img {
          height: 100%;
          max-height: 28px;
          float: left;
          margin-right: 9px; }
        .article-content .content .author-share .author p {
          color: #b3b3b3;
          font-size: 0.6rem;
          border-right: 1px solid #b3b3b3;
          padding-right: 7px; }
          .article-content .content .author-share .author p .name {
            text-transform: uppercase; }
      .article-content .content .author-share .right {
        display: flex;
        align-items: center; }
        .article-content .content .author-share .right .share {
          color: #000;
          font-size: 9px;
          margin-right: 10px;
          margin-top: 2px; }
        .article-content .content .author-share .right .social {
          display: flex;
          justify-content: center; }
          .article-content .content .author-share .right .social a {
            margin-right: 3px;
            border-radius: 100%;
            padding: 4px 7px 6px 7px;
            transition: all 0.2s linear; }
            .article-content .content .author-share .right .social a:before {
              font-size: 10px;
              color: #fff; }
            .article-content .content .author-share .right .social a:hover {
              text-decoration: none; }
          .article-content .content .author-share .right .social .fb {
            background-color: #899dce; }
            .article-content .content .author-share .right .social .fb:hover {
              background-color: #fff; }
            .article-content .content .author-share .right .social .fb:hover::before {
              color: #899dce; }
          .article-content .content .author-share .right .social .tw {
            background-color: #60d2f5; }
            .article-content .content .author-share .right .social .tw:hover {
              background-color: #fff; }
            .article-content .content .author-share .right .social .tw:hover::before {
              color: #60d2f5; }
          .article-content .content .author-share .right .social .pi {
            background-color: #f74c53; }
            .article-content .content .author-share .right .social .pi:hover {
              background-color: #fff; }
            .article-content .content .author-share .right .social .pi:hover::before {
              color: #f74c53; }
    .article-content .content article {
      font-family: "Crimson Text", serif;
      font-size: 14px; }
      .article-content .content article p {
        margin-bottom: 25px;
        line-height: 20px; }
        .article-content .content article p .line {
          border-bottom: 2px solid #f08b68; }
      .article-content .content article h2 {
        margin-bottom: 20px;
        font-family: "Open Sans", sans-serif;
        font-weight: bold; }
      .article-content .content article em {
        font-style: italic; }
    .article-content .content .article-share {
      margin-top: 35px;
      margin-bottom: 55px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-size: 10px; }
      .article-content .content .article-share .share-label {
        margin-right: 8px; }
      .article-content .content .article-share .fb {
        background-color: #899dce;
        border: 1px solid #899dce;
        color: #fff; }
        .article-content .content .article-share .fb:hover {
          background-color: #fff;
          border: 1px solid #899dce;
          color: #899dce; }
      .article-content .content .article-share .tw {
        background-color: #60d2f5;
        border: 1px solid #60d2f5;
        color: #fff; }
        .article-content .content .article-share .tw:hover {
          background-color: #fff;
          border: 1px solid #60d2f5;
          color: #60d2f5; }
      .article-content .content .article-share .pi {
        background-color: #f74c53;
        border: 1px solid #f74c53;
        color: #fff; }
        .article-content .content .article-share .pi:hover {
          background-color: #fff;
          border: 1px solid #f74c53;
          color: #f74c53; }
    .article-content .content .newsletter {
      margin-bottom: 35px; }
      .article-content .content .newsletter h1 {
        text-transform: initial;
        font-weight: normal;
        margin-bottom: 20px; }
      .article-content .content .newsletter p {
        font-size: 0.55rem;
        text-align: center; }
      .article-content .content .newsletter form {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        height: 30px; }
        .article-content .content .newsletter form .email {
          border: 1px solid #ccc;
          max-width: 225px;
          padding: 0 3px 3px 3px; }
          .article-content .content .newsletter form .email::placeholder {
            font-size: 10px;
            color: #000;
            padding: 0 6px; }
        .article-content .content .newsletter form .btn {
          background-color: #f08b68;
          border: 1px solid #f08b68;
          border-radius: 0;
          color: #fff;
          font-size: 10px;
          text-transform: uppercase;
          font-weight: bold;
          padding: 0 30px;
          transition: all 0.4s linear; }
          .article-content .content .newsletter form .btn:hover {
            background-color: #fff;
            border: 1px solid #303336;
            color: #303336; }
    .article-content .content .prev-next {
      display: flex;
      margin-bottom: 50px; }
      .article-content .content .prev-next a:nth-child(2) {
        border-left: 1px solid #f3f3f3; }
      .article-content .content .prev-next a:hover {
        text-decoration: none; }
        .article-content .content .prev-next a:hover .title {
          color: #f08b68; }
      .article-content .content .prev-next .prev,
      .article-content .content .prev-next .next {
        color: #bebebe;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.7rem;
        margin-bottom: 25px; }
      .article-content .content .prev-next .prev .arrow {
        margin-right: 9px; }
      .article-content .content .prev-next .next {
        text-align: end; }
        .article-content .content .prev-next .next .arrow {
          margin-left: 9px; }
      .article-content .content .prev-next .title {
        transition: all 0.4s linear;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.85rem;
        text-align: justify;
        color: #3a3e43; }
    .article-content .content .author-info {
      margin-bottom: 42px; }
      .article-content .content .author-info img {
        float: left;
        padding-right: 20px;
        padding-bottom: 10px;
        width: 66px; }
      .article-content .content .author-info .name {
        color: #000;
        font-size: 0.8rem;
        font-weight: bold;
        margin-bottom: 10px; }
      .article-content .content .author-info p {
        color: #b3b3b3;
        font-size: 0.75rem;
        line-height: 18px; }
    .article-content .content .related {
      margin-bottom: 78px; }
      .article-content .content .related h2 {
        text-transform: uppercase;
        font-weight: bold;
        color: #000;
        font-size: 0.6rem;
        margin-bottom: 26px; }
      .article-content .content .related .article {
        padding: 0 13px 0 0;
        color: #3a3e43; }
        .article-content .content .related .article:last-child {
          padding-right: 0; }
        .article-content .content .related .article img {
          width: 100%;
          max-height: 140px;
          margin-bottom: 15px; }
        .article-content .content .related .article .title {
          font-weight: bold;
          font-size: 0.6rem;
          line-height: 1rem;
          text-transform: uppercase;
          text-align: justify;
          transition: color 0.4s linear; }
        .article-content .content .related .article:hover {
          text-decoration: none; }
          .article-content .content .related .article:hover .title {
            color: #f08b68; }
    .article-content .content .responses {
      margin-bottom: 60px; }
      .article-content .content .responses h2 {
        color: #000;
        margin-bottom: 40px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.8rem; }
      .article-content .content .responses input,
      .article-content .content .responses textarea {
        border: 0;
        transition: border 0.2s linear; }
        .article-content .content .responses input::placeholder,
        .article-content .content .responses textarea::placeholder {
          font-size: 0.7rem; }
        .article-content .content .responses input:focus,
        .article-content .content .responses textarea:focus {
          outline: none; }
      .article-content .content .responses textarea {
        padding: 6px;
        margin-bottom: 30px; }
      .article-content .content .responses input {
        padding: 0 6px; }
      .article-content .content .responses .submit-btn {
        margin-top: 35px;
        background-color: #000;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.6rem;
        padding: 11px 14px; }
  .article-content .sidebar {
    max-width: 200px;
    flex-basis: 100%;
    margin-top: 72px; }
    .article-content .sidebar p {
      font-size: 10px;
      text-align: center;
      margin-bottom: 10px; }
    .article-content .sidebar .social {
      display: flex;
      justify-content: center;
      margin-bottom: 40px; }
      .article-content .sidebar .social .icon {
        margin-right: 8px;
        background-color: #555;
        border-radius: 100%;
        padding: 6px;
        transition: all 0.3s linear; }
        .article-content .sidebar .social .icon:before {
          color: #fff;
          font-size: 14px; }
        .article-content .sidebar .social .icon:last-child {
          margin-right: 0; }
        .article-content .sidebar .social .icon:hover {
          background-color: #fff;
          text-decoration: none; }
        .article-content .sidebar .social .icon:hover::before {
          color: #f08b68; }

.btn-txt {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.5rem;
  font-weight: bold;
  margin: 4.5px;
  transition: all 0.2s linear;
  background-color: #3a3e43;
  border: 1px solid #3a3e43;
  color: #fff; }
  .btn-txt i:before {
    font-size: 0.8rem;
    margin-right: 7px; }
  .btn-txt:hover {
    background-color: #fff;
    border: 1px solid #3a3e43;
    color: #3a3e43;
    text-decoration: none; }

@media screen and (max-width: 768px) {
  .article-content {
    padding: 0 15px; }
    .article-content .content {
      margin: 0 auto; }
    .article-content .sidebar {
      display: none; } }

@media screen and (max-width: 393px) {
  .article-content {
    padding: 0 15px; }
    .article-content .content .author-share {
      flex-wrap: wrap;
      justify-content: center; }
      .article-content .content .author-share .author {
        margin-bottom: 10px; }
        .article-content .content .author-share .author p {
          border-right: none; } }

.barre-nutrition {
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 2px;
  width: 90%;
  background-color: #f7f7f7; }

.search-box {
  float: left;
  height: 100%;
  border-left: 1px solid #f7f7f7;
  padding-left: 9px;
  display: flex;
  align-items: center; }
  .search-box .icon {
    cursor: pointer;
    height: 18px;
    margin-right: 13px;
    position: relative;
    z-index: 3;
    transition: color 0.5s linear; }
    .search-box .icon:before {
      font-size: 18px; }
  .search-box input {
    max-width: 0px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.2s linear;
    border: 0;
    outline: none !important;
    opacity: 0; }
    .search-box input:hover:focus {
      border: 1px solid #f08b68; }
  .search-box .icon.visible:before {
    color: #f08b68; }
  .search-box .icon.visible + input {
    padding: 5px;
    max-width: 150px;
    width: 100%;
    margin-left: 13px;
    opacity: 1; }
